/ProyectoProgramacion/nbproject/private/
ProyectoProgramacion/ProductoProgramacion1/
ProyectoProgramacion/ProductoProgramacion/
/ProyectoProgramacion/build/
/ProyectoProgramacion/dist/
/ProyectoProgramacion/nbproject/private/
ProyectoProgramacion/nbproject/private/private.properties
